*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:arial,sans-serif;
    background-color:black;
    text-align:center;
}

/* Header */
.header{
    background-color:#222;
    color:white;
    padding:20px;
}

.controls{
    margin:20px;
    display: flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
}

.controls button,
.controls select{
    padding:8px 12px;
    font-size:14px;
}

.controls label{
    font-size:14px;
}

.visualization{
    margin-top:30px;
}

#array-container{
    display:flex;
    justify-content:center;
    align-items:flex-end;
    height:300px;
    margin:0 auto;
    width:90%;
    border: 1px solid #ccc;
}

.bar{
    width:20px;
    margin:0 2px;
    background-color:steelblue;
}

.algo-info ul{
    list-style: none;
    margin-top: 10px;
}

.footer {
    margin-top: 40px;
    padding: 10px;
    background-color: #222;
    color: white;
}
